
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('imagens/galaxy.jpg');
    color: aliceblue;
    font-size: 16px;
  }
  
  .container {
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    background-color: #8c24b6;
    border-radius: 10px;
  }
  
  button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  #message {
    font-weight: bold;
  }
  footer {
    font-family: Arial, sans-serif;
    text-align: center; 
    color: beige;
}

#guess, #check, #restart {
  width: 80%;
  max-width: 300px;
  margin: 10px auto;
}

#message {
  font-size: 18px;
}

@media (max-width: 600px) {
  body {
      font-size: 14px;
  }
}